.container{
    margin-top: 2%;
}
.card_not_frunds{
    display: grid;
    grid-template-columns: 1fr 0.1fr;
    grid-gap: 10px;
}
#user{
    display: none;
}

#user_card{
    cursor: pointer;
}

#user_card:hover{
    box-shadow: 0 2px 4px rgba(51, 68, 255, 0.4);
}