body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .box {
    width: 30%;
    height: 50%;
    background-color: #818181;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
  }