<!DOCTYPE html>
<html>
<head>
  <style>
    body {
      margin: 0;
      padding-bottom: 50px; /* Add some padding at the bottom to prevent the element from overlapping with the content */
    }

    .bottom-element {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 50px;
      background-color: #f1f1f1;
      text-align: center;
      line-height: 50px;
    }
  </style>
</head>
<body>
  <!-- Your page content here -->
  
  <div class="bottom-element">
    This is the bottom element.
  </div>
</body>
</html>